/* Tailwind v4 */
@import "tailwindcss";

/* suas variáveis/tema/componentes APÓS o Tailwind */
@import "./variables.css";
     /* se você tinha um arquivo com o tema/componentes */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 4px;
}
